* { 
    font-family: "Afacad", sans-serif; 
}

html {
    font-size: 16px;
}

:root {
    --color-orange:#D8592E;
    --color-blue:#517DA6;
    --color-darkgrey:#56545A;
}

body {
    margin: 72px;
    background: #ECEAED;
    display: flex;
    justify-content: center;
    align-items: center;
}

sup { font-size: 1.5rem;}


#calculator {
    background-image: radial-gradient(#C1BCB7 30%, #A29E9B);
    padding: 24px;
    border-radius: 30px;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.75);
}

#display {
    display: inline-flex;
    justify-content: center;
    gap: 24px;
}

#screen {
    background-color: #000000;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding: 24px;
}

#last-action, #result {
    color: white;
    font-size: 4rem;
    text-align: right;
    background: none;
    border: none;
    outline: none;
    font-weight: 500;
    width: 100%;
}


#last-action {
    color: var(--color-orange);
    font-size: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.clears, .math-func, .numbers, .operations, .backspace, .add-func{
    background-color: black;
    border-radius: 12px;
    gap: 4px;
    padding: 4px;
    
}

.math-func {
    display: grid;
    grid-template-columns: repeat(2, 80px);
}


#numpad {
    display: flex;
    gap: 50px;
    
}

#numpad button {
    font-size: 2rem;
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    box-shadow: inset 0px -6px 0px 6px rgba(0, 0, 0, 0.15);
    height: 80px;
    width: 100%;
    padding-bottom: 6px;
}

.numbers, .add-func {
    display: grid;
    grid-template-columns: repeat(3, 80px);
}

.numbers button:not(.equal) {
    background-color: var(--color-darkgrey);
    color: white;
}

.operations {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.clears {
    display: flex;
}


.clears button { background-color: var(--color-blue); color: white;}

.operations button { background-color: var(--color-orange); color: white;}

.equal { background-color: var(--color-orange); color: white; grid-column: span 2; justify-self: stretch;}

#del { background-color: var(--color-blue); color: white;}

button:active { transform: translateY(2px); }